<html>
    <head>
        <title>Login</title>
    </head>
    <body>
        <h2>Log in</h2>
        <hr>
        <p>Please enter your username and password</p>
        <form action="" method="post">
        <div>
            <label >Your username</label><br>
            <input name=username type="text" placeholder="username"><br>
            <label >Password</label><br>
            <input name=password type="password" placeholder="password"><br>
            <input type="submit" value="login">
        <hr>
        </div>    
        </form>
        <div>
            <form action="/new">
                <label >New user?</label>
                <input value="register" type="submit">
            </form>
        </div>
    </body>
</html>