<html>
    <head>
    <title>Login</title>
    </head>
    <body>

  <h2>Anmelden</h2>
  <hr>
        <p>Bitte geben Sie Ihre Anmeldedaten ein.</p>
        <form method="post" action="login.php">
        <div class="form-group">
            <label >Dein Benutzername</label>
            <input type="text" id=username class="form-control" placeholder="Benutzername"><br>
            <label >Passwort</label>
            <input type="text" id=password class="form-control" placeholder="Passwort"><br>
            <br>
            <p>Sie haben noch keinen Account? <br> <a href="registrierung.php">Hier registrieren.</a></p>
    <hr>
            <input type="button" class="btn btn-primary" value="Anmelden" id="login">
            <button onclick="window.location.href='Index.php';" type="button"> Abbrechen </button>
        </form>

        <p id="response"></p>
    </body>
</html>
