<html>
    <head>
        <title>Registration</title>
    </head>
    <body>
        <h2>Registration</h2>
        <hr>
        <p>Please enter your username and password</p>
        <form method="post">
        <div>
            <label >Your username</label><br>
            <input type="text" id=username placeholder="username"><br>
            <label >Password</label><br>
            <input type="text" id=password placeholder="password"><br>
            <input type="submit" value="Create user">
        <hr>
        </div>    
        </form>
    </body>
</html>